<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="//cdn.yangkeduo.com">
    <link rel="dns-prefetch" href="//apiv4.yangkeduo.com">
    <link rel="dns-prefetch" href="//api.pinduoduo.com">
    <link rel="dns-prefetch" href="//pinduoduoimg.yangkeduo.com">
    <link rel="dns-prefetch" href="//omsproduction.yangkeduo.com">
    <link rel="dns-prefetch" href="//avatar.yangkeduo.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title><%= locals.title ? locals.title : 'react同构-奔驰'%></title>
    <%-defineContent('style') %>
    <%-defineContent('jsxStyle') %>
    <style><%-defineContent('isoCss') %></style>
</head>

<%- body %>
<% if (locals.ENABLE_DEBUG) { %>
  <script src="//cdn.jsdelivr.net/npm/eruda"></script>
  <script>eruda.init();</script>
<% } %>

  {{ for(var chunk in htmlWebpackPlugin.files.chunks){ }}
  <script type="text/javascript" src="{{=htmlWebpackPlugin.files.chunks[chunk].entry}}" crossorigin></script>
  {{ } }}


<%-defineContent('js') %>

</html>
